# .bazelrc

# Build using platforms by default
build --incompatible_enable_cc_toolchain_resolution
build --platforms=@arm_none_eabi//platforms:cortex-m3
#build --platforms=@arm_none_eabi//platforms:armv7-m
#build --platforms=@arm_none_eabi//platforms:arm_none_generic
